/* Modal Overlay */
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5); /* Semi-transparent black background */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999; /* Make sure it's on top of other elements */
}

/* Modal Content */
.modal-content {
  background: var(--modal_content__background_color);
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  padding: 0 20px;
  width: 300px; /* Customize the width as needed */
  color: var(--modal_content__color);
}

.modal-button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 16px;
}

/* Close button (optional) */
.modal-content button {
  background: #007bff;
  color: white;
  border: none;
  border-radius: 16px;
  padding: 8px 24px;
  cursor: pointer;
}

/* Close button hover effect (optional) */
.modal-content button:hover {
  background: #0056b3;
}
