body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.app-container {
  border: 1px solid black;
  border-radius: 24px;
  padding: 12px 16px;
  background-color: var(--app_container__background_color);
}

.separator {
  margin: 0;
  border: 1px solid gray;
}

.game {
  margin-top: 12px;
}

.gameOver {
  text-align: center;
}

.selected-mode-display {
  font-family: "Helvetica", sans-serif;
  font-size: 14px;
  color: var(--header_title__color);
}
