.settings-container {
  text-align: center;
}

.difficulty-buttons-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.difficulty-button {
  width: 50%;
  margin: 8px;
  transform: scale(1);
}

.difficulty-button-selected {
  box-shadow: 0 0 10px rgba(52, 152, 219, 0.7);
  transform: scale(1.05);
}

.button-select-custom {
  margin: 24px 0;
}

.custom-settings-container {
}

.custom-settings-button {
  margin: 8px;
}

button.button-save {
  /* background: rgb(20, 221, 20); */
  background: #27ae60;
}

button.button-save:hover {
  /* background: rgb(10, 184, 10); */
  background: #55d68d;
}

button.button-save:disabled {
  opacity: 0.5;
  cursor: default;
}
