.row {
  display: flex;
  justify-content: space-around;
  align-items: center;
  /* gap: 48px; */
}

.check-container {
  display: flex;
  justify-content: center;
  margin-left: auto;
}

.codePegs {
  display: flex;
  gap: 4px;
  margin: 8px 0;
}

.keyPegs {
  display: flex;
  gap: 12px;
  margin: 16px 6px 16px 0;
}
