.row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 48px;
}

.check-container {
  width: 128px;
  display: flex;
  justify-content: center;
}

.bigCircles {
  display: flex;
  gap: 24px;
  margin: 16px 0 16px 6px;
}

.smallCircles {
  display: flex;
  gap: 12px;
  margin: 16px 6px 16px 0;
}
